<!DOCTYPE html>
<html lang="ukr">

<head>
  {{> pageMetaData
  description="Привіт, і це Keqing-site. Семпай може тут знайти багато цікавого контенту(фото, відео) по світу ігор,
  манг та щіпотку цікавого функціоналу."
  path="https://keqing-site.onrender.com/autors-review"
  }}
  <title>Authors review</title>
  {{> pageAssets}}
</head>

<body>
  {{> navigation
  pageName="/Authors review"
  isCharacters=true
  isAbout=true
  isProfile=true
  }}
  <main>
    <section>
      <form class="form">
        <fieldset class="form__email">
          <div class="form__input-ui">
            <input type="email" id="id-email" placeholder="email" pattern="/^[\w-\\.]+@([\w-]+\.)+[\w-]{2,4}$/g"
              name="email" required />
            <label for="id-email">Електронна адреса</label>
          </div>
          <button type="submit" disabled>Send</button>
        </fieldset>
        <fieldset class="form__text">
          <div class="form__input-ui">
            <textarea id="id-text" placeholder="text" minlength="10" required name="text"></textarea>
            <label for="id-text">Пиши тут</label>
          </div>
        </fieldset>
      </form>
    </section>
    <section class="reaction">
      <div class="reaction--item hidden progress">
        <p class="reaction--item--typing">Sending message...</p>
        <img class="reaction--item--img" src="./img/mini-keqing-fly-removebg-preview.png" alt="nimi-keqing" />
      </div>
      <div class="reaction--item hidden error">
        <p class="reaction--item--typing">Error sending message.</p>
        <img class="reaction--item--img" src="./img/mini-keqing-leiin.png" alt="nimi-keqing" />
      </div>
      <div class="reaction--item hidden success">
        <p class="reaction--item--typing">message sended!</p>
        <img class="reaction--item--img" src="./img/mini-keqing-fan.png" alt="nimi-keqing" />
      </div>
    </section>
  </main>
  {{> footer hiddeText=true}}
</body>

</html>