<section class='user-gallery'>
  <div class='user-gallery__head'>
    <h2 class='user-gallery__head__title'>
      Твої збережені ❤
    </h2>

    {{#if user.favorites}}
      <div class='user-gallery__head__mode-edit'>
        <button
          class='user-gallery__button user-gallery__head__mode-edit__submit-btn'
        >
          підтвердити
          <i class='fa-solid fa-check'></i>
        </button>
        <button
          class='user-gallery__button user-gallery__head__mode-edit__cancel-btn'
        >
          скасувати
          <i class='fa-solid fa-xmark'></i>
        </button>
      </div>
      <button class='user-gallery__button user-gallery__head__edit-btn'>
        редагувати
        <i class='fa-solid fa-pen'></i>
      </button>
    {{/if}}
  </div>

  {{#if user.favorites}}
    <ul class='user-gallery__gallery'>
      {{#each user.favorites}}
        <li class='user-gallery__gallery__item'>
          <label class='user-gallery__gallery__item__toggle'>
            <input type='checkbox' />
            <i class='fa-solid fa-circle-dot'></i>
            <i class='fa-solid fa-circle-check'></i>
          </label>
          <a
            href='{{this.big_link}}'
            target='_blank'
            class='user-gallery__gallery__item__image'
          >
            <img
              loading='lazy'
              src='{{this.small_link}}'
              alt='keqing-site-image'
            />
          </a>
        </li>
      {{/each}}
    </ul>
    <div class='user-gallery__gallery__load'>
      <button class='user-gallery__button'>
        завантажити ще ({{user.favorites.length}})
      </button>
      <div class='gallery__loader'><div></div></div>
    </div>
  {{else}}
    <div class='user-gallery__empty'>
      <h3>Поки нічого не побачив</h3>
      <a href='/myWife' class='user-gallery__button-link'>
        обери
      </a>
    </div>
  {{/if}}
</section>