@import "@Styles/variables.scss";
@import "@Styles/initial.scss";

@import "@Styles/components/nav.scss";
@import "@Styles/components/footer.scss";
@import "./components/authorInfo.scss";

body {
  background: url(../img/keqing-city.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
}

main {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
