<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Привіт, і це Keqing-site wife page. Семпай може тут знайти багато-багато фото своєї героїні."
  />
  <meta property="og:title" content="Keqing-site wife page" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://keqing-site.herokuapp.com/pages/home/img/Keqing.png" />
  <meta
    property="og:description"
    content="Привіт, і це Keqing-site wife page. Семпай може тут знайти багато-багато фото своєї героїні."
  />
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Merienda&family=Open+Sans&display=swap"
  />
  <link rel="stylesheet" href="/static/styles/style.wife.css" type="text/css" />
</head>