{{> navigation
pageName="/Profile"
isCharacters=true
isAbout=true
isAutorsReview=true
}}

<main>
  <section class="status-bar">
    <div></div>
    <div class="status-bar__default">
      <a href="/logout" class="status-bar__default__logout-btn">
        Log out
      </a>
    </div>
  </section>
  {{> profile/components/userBoard }}
  {{> profile/components/userGallery }}
  {{> profile/components/charactersData }}
</main>

{{> footer hiddeText=true}}

<div class="k-overlay"></div>