@use 'sass:string';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  & > * {
    width: string.unquote('calc(100% - 100px)');
    margin: 0 auto;
  }
  overflow-y: overlay;
  position: relative;
  font-size: 16px;
}
main {
  margin-top: 60px;
  margin-bottom: 60px;
}
a {
  font-family: 'Open Sans', sans-serif;
}
