// https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff

$dark: #1a1a1a;
$textDecoration: #f7f7f7;
$purpleForLink: #ddaee5;
$purpleBackground: #f4e5fd;
$purpleAfterBackround: #c478e8;
$silver: #c4c4c4;
$border: linear-gradient(177deg, #fdfaff, #b45ac0);
$footer: #eccff1;

$purple: #ab35be;
$purple-1: #10002b;
$purple-2: #240046;
$purple-3: #3c096c;
$purple-4: #5a189a;
$purple-5: #7b2cbf;
$purple-6: #9d4edd;
$purple-7: #c77dff;
$purple-8: #e0aaff;
$purple-9: #ddaee5;
$purple-10: #f4e5fd;
$purple-11: #c478e8;
$purple-12: linear-gradient(177deg, #fdfaff, #b45ac0);
$purple-13: #eccff1;

$black: #0f0029;
$white: #ffffff;
$silver: #c4c4c4;

$green: green;
$middle-green: #93d395;
$light-green: #e0ffe1;

$red: red;
$ligth-red: #ff8787;
