<head>
  {{> pageMetaData
  description="Привіт, і це Keqing-site pictures page. Семпай може тут знайти багато фото по світу Тайват."
  path="https://keqing-site.onrender.com/teyvat-through-picture"
  }}
  <title>Teyvat through picture</title>
  {{> pageAssets}}
  <link rel="stylesheet" href="/static/styles/style.pictures.css" type="text/css" />
</head>