<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Привіт, і це Keqing-site pictures page. Семпай може тут знайти багато фото по світу Тайват."
  />
  <meta property="og:title" content="Keqing-site pictures page" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://keqing-site.herokuapp.com/pictures" />
  <meta property="og:image" content="https://keqing-site.herokuapp.com/pages/home/img/Keqing.png" />
  <meta
    property="og:description"
    content="Привіт, і це Keqing-site pictures page. Семпай може тут знайти багато фото по світу Тайват."
  />
  <title>Teyvat through picture</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/static/styles/style.pictures.css" type="text/css" />
</head>