@import '@Styles/mixins.scss';
@import '../mixins.scss';

.characters-data {
  visibility: hidden;
  opacity: 0;

  @include scroll-bar;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: transparentize($color: $black, $amount: 0.6);
  overflow: hidden;
  overflow-y: scroll;
  z-index: 10;
  padding: 2rem;
  & > * {
    display: none;
    width: 50%;
    background: $white;
    border-radius: 10px;
    padding: 10px 0;
    & > * {
      padding: 0 10px;
    }
    & > ul {
      list-style: none;
      margin-top: 10px;
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid $orange-1;
    padding-bottom: 10px;
    &__title {
      font-weight: 600;
    }
    &__controlls {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      & > button {
        background: transparent;
        border: none;
        i {
          cursor: pointer;
          font-size: 30px;
          transition: font-weight 0.3s ease-in-out;
          &:hover {
            font-weight: normal;
          }
        }
      }
      &__submit-btn {
        i {
          color: $middle-green;
        }
      }
      &__close-btn {
        i {
          color: $ligth-red;
        }
      }
    }
  }
  &__avatarts {
    margin-left: auto;
    &__list {
      margin-top: 10px;
      display: grid;
      justify-content: center;
      gap: 15px;
      grid-template-columns: repeat(auto-fill, 105px);
      &__item {
        cursor: pointer;
        width: 105px;
        height: 105px;
        border: 1px solid $orange-1;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.3s ease-in-out;
        &:active {
          border-width: 2.5px;
        }
        &:hover img {
          filter: brightness(0.7);
        }
        img {
          width: 90px;
          height: 90px;
          image-rendering: -webkit-optimize-contrast;
          border-radius: 50%;
          background: $orange-1;
          transition: filter 0.3s ease-in-out;
        }
      }
    }
  }
  &__characters {
    margin-right: auto;
    &__list {
      display: grid;
      justify-content: center;
      gap: 15px;
      grid-template-columns: repeat(auto-fill, 75px);
      &__item {
        @include character-card;
        &:not(&-active):hover {
          transform: none;
          filter: brightness(0.8);
        }
      }
    }
  }
}
