@mixin page-button {
  background-color: $white;
  font-size: 15px;
  border: 2px solid $purple-9;
  padding: 10px 25px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: $purple-9;
    color: $white;
  }
}

@mixin scroll-bar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparentize($color: $purple-7, $amount: 0.5) transparent;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparentize($color: $purple-7, $amount: 0.5);
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparentize($color: $purple-6, $amount: 0.5);
    border-radius: 20px;
    border: transparent;
  }
}
