@import "@Styles/variables.scss";
@import "@Styles/initial.scss";

@import "./components/loader.scss";
@import "./components/message.scss";
@import "./components/kImages.scss";
@import "./components/kVideo.scss";
@import "./components/kHeader.scss";

body {
  overflow: hidden;
  box-shadow: 1px 8px 30px 3px rgba(125, 32, 161, 0.2) inset;
}

main {
  width: 100%;
  margin: 0;
  & > * {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.visibility {
  display: none;
}
