<head>
  {{> pageMetaData
  description="Привіт, і це Keqing-site profile page. Семпай може тут знайти свої збережені фото та налаштувати
  профіль."
  path="https://keqing-site.onrender.com/userProfile"
  }}
  <title>Profile - {{user.name}}</title>
  <style>
    body {
      background-image: url({{ page.background }}) !important;
    }
  </style>
  {{> pageFonts}}

  <link rel="stylesheet" href="/static/styles/style.userProfile.css" type="text/css" />

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>