<header class="k-header">
  <h1 class="k-header-name">{{title}}</h1>
  <div class="k-header-profile">
    <div class="k-header-profile-image">
      <div class="loader">
        <div class="lds-ripple"><div></div><div></div></div>
      </div>
      <img class="visibility loaded-content" loading="eager" src="{{mainImg}}" alt="{{title}}" />
    </div>
    <div class="k-header-profile-text">
      <p><span>Зовнішність</span> <br /><br />{{text}} </p>
    </div>
  </div>
  <div class="k-header-controls">
    <button class="k-header-controls-item k-video-btn_open">Подивитись відео</button>
    <button class="k-header-controls-item k-images-btn_open">Всі фото</button>
  </div>
</header>