<section class="k-video">
  <div class="k-video-wraper">
    <video
      class="k-video-player"
      preload="metadata"
      controls
      src="{{video}}"
      type="video/mp4"
    ></video>
    <button class="k-video-btn_close k-video-btn_close">Закрити</button>
  </div>
</section>